<a href="https://colab.research.google.com/github/Felipe0023/ExamenFinalBigData/blob/main/productos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=6fae2ce979362e37b4a607b5dc7468b641e187f9b0590ff63eb6bf73a28ce2d4
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("test_test.csv").getOrCreate()
spark = SparkSession.builder.appName("SQL Example").config("sqlOnSpark", "true").getOrCreate()
spark = SparkSession.builder.appName("Drop Database").getOrCreate()

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [28]:
df1 = spark.read.csv("/content/Producto.csv", header=True, inferSchema=True)
df2 = spark.read.csv("/content/detallesProducto.csv", header=True, inferSchema=True)

In [30]:
df1.write.format("parquet").saveAsTable("Producto_db")
df2.write.format("parquet").saveAsTable("detallesProducto_db")

In [37]:
results = spark.sql("SELECT * FROM Producto_db")
print(results.show())

+----------+--------------------+---------------+
|IDProducto|            Producto|StockDisponible|
+----------+--------------------+---------------+
|        11|      Queso Cabrales|             22|
|        42|Singaporean Hokki...|             26|
|        72|Mozzarella di Gio...|             14|
|        14|                Tofu|             35|
|        51|Manjimup Dried Ap...|             20|
|        41|Jack's New Englan...|             85|
|        65|Louisiana Fiery H...|             76|
|        22| Gustaf's Kn„ckebr”d|            104|
|        57|      Ravioli Angelo|             36|
|        20|Sir Rodney's Marm...|             40|
|        33|             Geitost|            112|
|        60|   Camembert Pierrot|             19|
|        31|   Gorgonzola Telino|              0|
|        39|    Chartreuse verte|             69|
|        49|            Maxilaku|             10|
|        24|  Guaran  Fant stica|             20|
|        55|        Pƒt‚ chinois|            115|
|        74|       Longlife Tofu|              4|
|         2|               Chang|             17|
|        16|             Pavlova|             29|
+----------+--------------------+---------------+
only showing top 20 rows

None

In [38]:
results = spark.sql("SELECT * FROM detallesProducto_db where Pais_Proveedor = 'Germany'")
print(results.show())

+-----------+------------+----------+--------------------+---------------+-------------+-----------+--------------------+----------------+--------------+------------------+--------+--------------+-------+
|CodigoOrden|   Categoria|IDProducto|            Producto|StockDisponible|UnidadesOrden|IDProveedor|           Proveedor|Ciudad_Proveedor|Pais_Proveedor|Telefono_Proveedor|Cantidad|PrecioUnitario|Importe|
+-----------+------------+----------+--------------------+---------------+-------------+-----------+--------------------+----------------+--------------+------------------+--------+--------------+-------+
|      10294|   Beverages|        75|Rh”nbr„u Klosterbier|            125|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|       6|          7.75|   46.5|
|      10302|     Produce|        28|   R”ssle Sauerkraut|             26|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      28|          45.6| 1276.8|
|      10326|   Beverages|        75|Rh”nbr„u Klosterbier|            125|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      50|          7.75|  387.5|
|      10329|     Seafood|        30|Nord-Ost Matjeshe...|             10|            0|         13|Nord-Ost-Fisch Ha...|        Cuxhaven|       Germany|      (04721) 8713|       8|         25.89| 207.12|
|      10440|Meat/Poultry|        29|Thringer Rostbra...|              0|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      24|        123.79|2970.96|
|      10448| Confections|        26| Gumb„r Gummib„rchen|             15|            0|         11|Heli Sáwaren Gmb...|          Berlin|       Germany|     (010) 9984510|       6|         31.23| 187.38|
|      10499|     Produce|        28|   R”ssle Sauerkraut|             26|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      20|          45.6|  912.0|
|      10613|   Beverages|        75|Rh”nbr„u Klosterbier|            125|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      40|          7.75|  310.0|
|      10624|     Produce|        28|   R”ssle Sauerkraut|             26|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      10|          45.6|  456.0|
|      10624|Meat/Poultry|        29|Thringer Rostbra...|              0|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|       6|        123.79| 742.74|
|      10652|     Seafood|        30|Nord-Ost Matjeshe...|             10|            0|         13|Nord-Ost-Fisch Ha...|        Cuxhaven|       Germany|      (04721) 8713|       2|         25.89|  51.78|
|      10688|     Produce|        28|   R”ssle Sauerkraut|             26|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      60|          45.6| 2736.0|
|      10728|     Seafood|        30|Nord-Ost Matjeshe...|             10|            0|         13|Nord-Ost-Fisch Ha...|        Cuxhaven|       Germany|      (04721) 8713|      15|         25.89| 388.35|
|      10740|     Produce|        28|   R”ssle Sauerkraut|             26|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|       5|          45.6|  228.0|
|      10801|Meat/Poultry|        29|Thringer Rostbra...|              0|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      20|        123.79| 2475.8|
|      10802|     Seafood|        30|Nord-Ost Matjeshe...|             10|            0|         13|Nord-Ost-Fisch Ha...|        Cuxhaven|       Germany|      (04721) 8713|      25|         25.89| 647.25|
|      10840| Confections|        25|NuNuCa Nuá-Nougat...|             76|            0|         11|Heli Sáwaren Gmb...|          Berlin|       Germany|     (010) 9984510|       6|          14.0|   84.0|
|      10917|     Seafood|        30|Nord-Ost Matjeshe...|             10|            0|         13|Nord-Ost-Fisch Ha...|        Cuxhaven|       Germany|      (04721) 8713|       1|         25.89|  25.89|
|      10282|     Seafood|        30|Nord-Ost Matjeshe...|             10|            0|         13|Nord-Ost-Fisch Ha...|        Cuxhaven|       Germany|      (04721) 8713|       6|         25.89| 155.34|
|      10284| Confections|        27|  Schoggi Schokolade|             49|            0|         11|Heli Sáwaren Gmb...|          Berlin|       Germany|     (010) 9984510|      15|          43.9|  658.5|
+-----------+------------+----------+--------------------+---------------+-------------+-----------+--------------------+----------------+--------------+------------------+--------+--------------+-------+
only showing top 20 rows

None

In [39]:
results = spark.sql("SELECT Producto, PrecioUnitario FROM detallesProducto_db where Pais_Proveedor = 'Germany'")
print(results.show())

+--------------------+--------------+
|            Producto|PrecioUnitario|
+--------------------+--------------+
|Rh”nbr„u Klosterbier|          7.75|
|   R”ssle Sauerkraut|          45.6|
|Rh”nbr„u Klosterbier|          7.75|
|Nord-Ost Matjeshe...|         25.89|
|Thringer Rostbra...|        123.79|
| Gumb„r Gummib„rchen|         31.23|
|   R”ssle Sauerkraut|          45.6|
|Rh”nbr„u Klosterbier|          7.75|
|   R”ssle Sauerkraut|          45.6|
|Thringer Rostbra...|        123.79|
|Nord-Ost Matjeshe...|         25.89|
|   R”ssle Sauerkraut|          45.6|
|Nord-Ost Matjeshe...|         25.89|
|   R”ssle Sauerkraut|          45.6|
|Thringer Rostbra...|        123.79|
|Nord-Ost Matjeshe...|         25.89|
|NuNuCa Nuá-Nougat...|          14.0|
|Nord-Ost Matjeshe...|         25.89|
|Nord-Ost Matjeshe...|         25.89|
|  Schoggi Schokolade|          43.9|
+--------------------+--------------+
only showing top 20 rows

None

In [40]:
results = spark.sql("SELECT Producto, Importe, Pais_Proveedor FROM detallesProducto_db where Producto = 'Boston Crab Meat'" )
print(results.show())

+----------------+-------+--------------+
|        Producto|Importe|Pais_Proveedor|
+----------------+-------+--------------+
|Boston Crab Meat|  920.0|           USA|
|Boston Crab Meat|  368.0|           USA|
|Boston Crab Meat|   36.8|           USA|
|Boston Crab Meat| 1104.0|           USA|
|Boston Crab Meat|  110.4|           USA|
|Boston Crab Meat|  920.0|           USA|
|Boston Crab Meat|  460.0|           USA|
|Boston Crab Meat|  184.0|           USA|
|Boston Crab Meat| 1288.0|           USA|
|Boston Crab Meat|   18.4|           USA|
|Boston Crab Meat|   73.6|           USA|
|Boston Crab Meat|  736.0|           USA|
|Boston Crab Meat|  368.0|           USA|
|Boston Crab Meat|  184.0|           USA|
|Boston Crab Meat|  276.0|           USA|
|Boston Crab Meat|   92.0|           USA|
|Boston Crab Meat| 1104.0|           USA|
|Boston Crab Meat|  184.0|           USA|
|Boston Crab Meat|  920.0|           USA|
|Boston Crab Meat|  368.0|           USA|
+----------------+-------+--------------+
only showing top 20 rows

None

In [41]:
df_join = df2.join(df1, on="IDProducto")
print(df_join.show())

+----------+-----------+--------------+--------------------+---------------+-------------+-----------+--------------------+----------------+--------------+------------------+--------+--------------+-------+--------------------+---------------+
|IDProducto|CodigoOrden|     Categoria|            Producto|StockDisponible|UnidadesOrden|IDProveedor|           Proveedor|Ciudad_Proveedor|Pais_Proveedor|Telefono_Proveedor|Cantidad|PrecioUnitario|Importe|            Producto|StockDisponible|
+----------+-----------+--------------+--------------------+---------------+-------------+-----------+--------------------+----------------+--------------+------------------+--------+--------------+-------+--------------------+---------------+
|        41|      10250|       Seafood|Jack's New Englan...|             85|            0|         19|New England Seafo...|          Boston|           USA|    (617) 555-3267|      10|          9.65|   96.5|Jack's New Englan...|             85|
|        51|      10250|       Produce|Manjimup Dried Ap...|             20|            0|         24|         G'day, Mate|          Sydney|     Australia|     (02) 555-5914|      35|          53.0| 1855.0|Manjimup Dried Ap...|             20|
|        65|      10250|    Condiments|Louisiana Fiery H...|             76|            0|          2|New Orleans Cajun...|     New Orleans|           USA|    (100) 555-4822|      15|         21.05| 315.75|Louisiana Fiery H...|             76|
|        20|      10252|   Confections|Sir Rodney's Marm...|             40|            0|          8|Specialty Biscuit...|      Manchester|            UK|    (161) 555-4448|      40|          81.0| 3240.0|Sir Rodney's Marm...|             40|
|        33|      10252|Dairy Products|             Geitost|            112|            0|         15|     Norske Meierier|        Sandvika|        Norway|       (0)2-953010|      25|           2.5|   62.5|             Geitost|            112|
|        60|      10252|Dairy Products|   Camembert Pierrot|             19|            0|         28|        Gai pƒturage|          Annecy|        France|       38.76.98.06|      40|          34.0| 1360.0|   Camembert Pierrot|             19|
|        35|      10261|     Beverages|      Steeleye Stout|             20|            0|         16|   Bigfoot Breweries|            Bend|           USA|    (503) 555-9931|      20|          18.0|  360.0|      Steeleye Stout|             20|
|         1|      10294|     Beverages|                Chai|             39|            0|          1|      Exotic Liquids|          London|            UK|    (171) 555-2222|      18|          18.0|  324.0|                Chai|             39|
|        17|      10294|  Meat/Poultry|        Alice Mutton|              0|            0|          7|       Pavlova, Ltd.|       Melbourne|     Australia|     (03) 444-2343|      15|          39.0|  585.0|        Alice Mutton|              0|
|        60|      10294|Dairy Products|   Camembert Pierrot|             19|            0|         28|        Gai pƒturage|          Annecy|        France|       38.76.98.06|      21|          34.0|  714.0|   Camembert Pierrot|             19|
|        75|      10294|     Beverages|Rh”nbr„u Klosterbier|            125|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|       6|          7.75|   46.5|Rh”nbr„u Klosterbier|            125|
|        19|      10299|   Confections|Teatime Chocolate...|             25|            0|          8|Specialty Biscuit...|      Manchester|            UK|    (161) 555-4448|      15|           9.2|  138.0|Teatime Chocolate...|             25|
|        17|      10302|  Meat/Poultry|        Alice Mutton|              0|            0|          7|       Pavlova, Ltd.|       Melbourne|     Australia|     (03) 444-2343|      40|          39.0| 1560.0|        Alice Mutton|              0|
|        28|      10302|       Produce|   R”ssle Sauerkraut|             26|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      28|          45.6| 1276.8|   R”ssle Sauerkraut|             26|
|        34|      10315|     Beverages|       Sasquatch Ale|            111|            0|         16|   Bigfoot Breweries|            Bend|           USA|    (503) 555-9931|      14|          14.0|  196.0|       Sasquatch Ale|            111|
|         4|      10326|    Condiments|Chef Anton's Caju...|             53|            0|          2|New Orleans Cajun...|     New Orleans|           USA|    (100) 555-4822|      24|          22.0|  528.0|Chef Anton's Caju...|             53|
|        57|      10326|Grains/Cereals|      Ravioli Angelo|             36|            0|         26|Pasta Buttini s.r.l.|         Salerno|         Italy|     (089) 6547665|      16|          19.5|  312.0|      Ravioli Angelo|             36|
|        75|      10326|     Beverages|Rh”nbr„u Klosterbier|            125|            0|         12|Plutzer Lebensmit...|       Frankfurt|       Germany|      (069) 992755|      50|          7.75|  387.5|Rh”nbr„u Klosterbier|            125|
|        19|      10329|   Confections|Teatime Chocolate...|             25|            0|          8|Specialty Biscuit...|      Manchester|            UK|    (161) 555-4448|      10|           9.2|   92.0|Teatime Chocolate...|             25|
|        30|      10329|       Seafood|Nord-Ost Matjeshe...|             10|            0|         13|Nord-Ost-Fisch Ha...|        Cuxhaven|       Germany|      (04721) 8713|       8|         25.89| 207.12|Nord-Ost Matjeshe...|             10|
+----------+-----------+--------------+--------------------+---------------+-------------+-----------+--------------------+----------------+--------------+------------------+--------+--------------+-------+--------------------+---------------+
only showing top 20 rows

None

In [42]:
results = spark.sql("SELECT Producto_db.Producto, Producto_db.stockDisponible,  SUM(detallesProducto_db.cantidad) AS cantidad_ordenada, detallesProducto_db.IDProveedor,  detallesProducto_db.Proveedor FROM detallesProducto_db JOIN Producto_db ON detallesProducto_db.IDProducto = Producto_db.IDProducto GROUP BY Producto_db.Producto, Producto_db.stockDisponible, detallesProducto_db.IDProveedor, detallesProducto_db.Proveedor")
print(results.show())

+--------------------+---------------+-----------------+-----------+--------------------+
|            Producto|stockDisponible|cantidad_ordenada|IDProveedor|           Proveedor|
+--------------------+---------------+-----------------+-----------+--------------------+
|      Tarte au sucre|             17|             1083|         29|    Forˆts d'‚rables|
|               Chang|             17|             1057|          1|      Exotic Liquids|
|Raclette Courdavault|             79|             1496|         28|        Gai pƒturage|
|        Lakkalik””ri|             57|              981|         23|           Karkki Oy|
|    Carnarvon Tigers|             42|              539|          7|       Pavlova, Ltd.|
|Nord-Ost Matjeshe...|             10|              612|         13|Nord-Ost-Fisch Ha...|
|           TourtiŠre|             21|              755|         25|           Ma Maison|
|    Boston Crab Meat|            123|             1103|         19|New England Seafo...|
|  Schoggi Schokolade|             49|              365|         11|Heli Sáwaren Gmb...|
|Uncle Bob's Organ...|             15|              763|          3|Grandma Kelly's H...|
|      Sirop d'‚rable|            113|              603|         29|    Forˆts d'‚rables|
|Rh”nbr„u Klosterbier|            125|             1155|         12|Plutzer Lebensmit...|
|Chef Anton's Caju...|             53|              453|          2|New Orleans Cajun...|
|           Spegesild|             95|              548|         21|          Lyngbysild|
|Chef Anton's Gumb...|              0|              298|          2|New Orleans Cajun...|
|            Filo Mix|             38|              500|         24|         G'day, Mate|
|               Konbu|             24|              891|          6|            Mayumi's|
|Grandma's Boysenb...|            120|              301|          3|Grandma Kelly's H...|
|                Tofu|             35|              404|          6|            Mayumi's|
|        Alice Mutton|              0|              978|          7|       Pavlova, Ltd.|
+--------------------+---------------+-----------------+-----------+--------------------+
only showing top 20 rows

None

In [43]:
results = spark.sql("SELECT Producto_db.Producto, Producto_db.stockDisponible, SUM(detallesProducto_db.cantidad * detallesProducto_db.precioUnitario) AS precio_total, detallesProducto_db.IDProveedor, detallesProducto_db.Proveedor FROM detallesProducto_db JOIN Producto_db ON detallesProducto_db.IDProducto = Producto_db.IDProducto GROUP BY Producto_db.Producto, Producto_db.stockDisponible, detallesProducto_db.IDProveedor, detallesProducto_db.Proveedor")
print(results.show())

+--------------------+---------------+------------------+-----------+--------------------+
|            Producto|stockDisponible|      precio_total|IDProveedor|           Proveedor|
+--------------------+---------------+------------------+-----------+--------------------+
|      Tarte au sucre|             17|           53391.9|         29|    Forˆts d'‚rables|
|               Chang|             17|           20083.0|          1|      Exotic Liquids|
|Raclette Courdavault|             79|           82280.0|         28|        Gai pƒturage|
|        Lakkalik””ri|             57|           17658.0|         23|           Karkki Oy|
|    Carnarvon Tigers|             42|           33687.5|          7|       Pavlova, Ltd.|
|Nord-Ost Matjeshe...|             10|15844.680000000002|         13|Nord-Ost-Fisch Ha...|
|           TourtiŠre|             21|           5624.75|         25|           Ma Maison|
|    Boston Crab Meat|            123|           20295.2|         19|New England Seafo...|
|  Schoggi Schokolade|             49|           16023.5|         11|Heli Sáwaren Gmb...|
|Uncle Bob's Organ...|             15|           22890.0|          3|Grandma Kelly's H...|
|      Sirop d'‚rable|            113|           17185.5|         29|    Forˆts d'‚rables|
|Rh”nbr„u Klosterbier|            125|           8951.25|         12|Plutzer Lebensmit...|
|Chef Anton's Caju...|             53|            9966.0|          2|New Orleans Cajun...|
|           Spegesild|             95|            6576.0|         21|          Lyngbysild|
|Chef Anton's Gumb...|              0| 6362.299999999999|          2|New Orleans Cajun...|
|            Filo Mix|             38|            3500.0|         24|         G'day, Mate|
|               Konbu|             24|            5346.0|          6|            Mayumi's|
|Grandma's Boysenb...|            120|            7525.0|          3|Grandma Kelly's H...|
|                Tofu|             35|            9393.0|          6|            Mayumi's|
|        Alice Mutton|              0|           38142.0|          7|       Pavlova, Ltd.|
+--------------------+---------------+------------------+-----------+--------------------+
only showing top 20 rows

None

In [44]:
results = spark.sql("SELECT * FROM Producto_db")
print(results.show())

+----------+--------------------+---------------+
|IDProducto|            Producto|StockDisponible|
+----------+--------------------+---------------+
|        11|      Queso Cabrales|             22|
|        42|Singaporean Hokki...|             26|
|        72|Mozzarella di Gio...|             14|
|        14|                Tofu|             35|
|        51|Manjimup Dried Ap...|             20|
|        41|Jack's New Englan...|             85|
|        65|Louisiana Fiery H...|             76|
|        22| Gustaf's Kn„ckebr”d|            104|
|        57|      Ravioli Angelo|             36|
|        20|Sir Rodney's Marm...|             40|
|        33|             Geitost|            112|
|        60|   Camembert Pierrot|             19|
|        31|   Gorgonzola Telino|              0|
|        39|    Chartreuse verte|             69|
|        49|            Maxilaku|             10|
|        24|  Guaran  Fant stica|             20|
|        55|        Pƒt‚ chinois|            115|
|        74|       Longlife Tofu|              4|
|         2|               Chang|             17|
|        16|             Pavlova|             29|
+----------+--------------------+---------------+
only showing top 20 rows

None

In [45]:
df1 = df1.withColumnRenamed("Producto", "Nombre")
df1.show()

+----------+--------------------+---------------+
|IDProducto|              Nombre|StockDisponible|
+----------+--------------------+---------------+
|        11|      Queso Cabrales|             22|
|        42|Singaporean Hokki...|             26|
|        72|Mozzarella di Gio...|             14|
|        14|                Tofu|             35|
|        51|Manjimup Dried Ap...|             20|
|        41|Jack's New Englan...|             85|
|        65|Louisiana Fiery H...|             76|
|        22| Gustaf's Kn„ckebr”d|            104|
|        57|      Ravioli Angelo|             36|
|        20|Sir Rodney's Marm...|             40|
|        33|             Geitost|            112|
|        60|   Camembert Pierrot|             19|
|        31|   Gorgonzola Telino|              0|
|        39|    Chartreuse verte|             69|
|        49|            Maxilaku|             10|
|        24|  Guaran  Fant stica|             20|
|        55|        Pƒt‚ chinois|            115|
|        74|       Longlife Tofu|              4|
|         2|               Chang|             17|
|        16|             Pavlova|             29|
+----------+--------------------+---------------+
only showing top 20 rows

In [46]:
df1 = df1.withColumnRenamed("Nombre", "Producto")
df1.show()

+----------+--------------------+---------------+
|IDProducto|            Producto|StockDisponible|
+----------+--------------------+---------------+
|        11|      Queso Cabrales|             22|
|        42|Singaporean Hokki...|             26|
|        72|Mozzarella di Gio...|             14|
|        14|                Tofu|             35|
|        51|Manjimup Dried Ap...|             20|
|        41|Jack's New Englan...|             85|
|        65|Louisiana Fiery H...|             76|
|        22| Gustaf's Kn„ckebr”d|            104|
|        57|      Ravioli Angelo|             36|
|        20|Sir Rodney's Marm...|             40|
|        33|             Geitost|            112|
|        60|   Camembert Pierrot|             19|
|        31|   Gorgonzola Telino|              0|
|        39|    Chartreuse verte|             69|
|        49|            Maxilaku|             10|
|        24|  Guaran  Fant stica|             20|
|        55|        Pƒt‚ chinois|            115|
|        74|       Longlife Tofu|              4|
|         2|               Chang|             17|
|        16|             Pavlova|             29|
+----------+--------------------+---------------+
only showing top 20 rows